name: Deploy Python project to Azure Function App

on:
  push:
    branches:
    - main
    
env:
  AZURE_FUNCTIONAPP_NAME: my-maps-functions-phyton
  AZURE_FUNCTIONAPP_PACKAGE_PATH: 'src/phyton/MyMaps.Function'  
  PYTHON_VERSION: '3.9'             
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    runs-on: ubuntu-18.04
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@master

    - name: Setup Python ${{ env.PYTHON_VERSION }} Environment
      uses: actions/setup-python@v1
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: 'Resolve Project Dependencies Using Pip'
      shell: bash
      run: |
        pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
        python -m pip install --upgrade pip
        pip install -r requirements.txt --target=".python_packages/lib/site-packages"
        popd
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PHYTON_PUBLISH_PROFILE }}
